/** FONTS FAMILIES STARTS HERE...**/
@font-face {
	font-family: 'Lato-light';
	src:url('lato/Lato-light.ttf');
	}
	@font-face {
		font-family: 'OpenSans-Italic';
		src:url('open sans/OpenSans-Italic.ttf');
	}
	@font-face {
		font-family: 'OpenSans-Regular';
		src:url('open sans/OpenSans-Regular.ttf');
	}

@font-face {
	font-family: 'merriweather-bold';
	src:url('merriweather/merriweather-bold.ttf');
		}

@font-face {
		font-family: 'abrilface-regular';
	src:url('abrilface/abrilface-regular.ttf');
		}
/** ....#304412FONTS FAMILIES STOPS HERE**/

body{
  margin: 0px;
  width: 100%;
  color: #fff;
  background-color:rgba(116,149,17,0.75);
  font-family: 'abrilface-regular';

}

.header{
  padding: 30px;
}
.header h1{
  font-size: 30px;
  text-align: center;
}
.header p{
text-align: center;
}
.navs{
  background-color: #304412;
  padding: 10px;
  border-radius: 1px;
  border: 1px dotted yellow;
}
.navs a{
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  margin-left:2%;
  text-align: center;
  width: 80px;
  background-color: rgba(116,149,17,0.75);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dashboard{
  width: 75%;
  background-color: rgba(0,0,0, 0.25);
  margin-top: 1%;
  margin-left: 13%;
  height: 80%;
  display: inline-flex;
}

.fresh{
  background-image: url('matric.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
  margin-top: 2%;
  margin-left:4%;
  /* position: absolute; */
}

.fresh a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.fresh p{
  text-align:left;
  font-size: 12px;
}
.fresh a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}


.course-reg{
  background-image: url('courses.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
  margin-top: -28%;
	margin-left:4%;
  float: left;
  /* position: absolute; */
}

.course-reg a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.course-reg p{
  text-align:left;
  font-size: 12px;
}
.course-reg a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}



.change-course{
  background-image: url('changeofcourse.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
  margin-top: -28%;
	margin-left:4%;
  float: left;

  /* position: absolute; */
}

.change-course a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.change-course p{
  text-align:left;
  font-size: 12px;
}
.change-course a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}



.receipt{
  background-image: url('receipt.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
  margin-top: 2%;
  float: left;
  margin-left:0.5%;
  /* position: absolute; */
}

.receipt a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.receipt p{
  text-align:left;
  font-size: 12px;
}
.receipt a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}

.reset{
  background-image: url('reset3.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
	margin-top: -28%;
  float: left;
  /* position: absolute; */
}

.reset a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.reset p{
  text-align:left;
  font-size: 12px;
}
.reset a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}



.login{
  background-image: url('loginscreen.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
	margin-top: -28%;
  float: left;
  /* position: absolute; */
}

.login a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.login p{
  text-align:left;
  font-size: 12px;
}
.login a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}

.email-ret{
  background-image: url('getmail.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
	margin-top: -28%;
  float: left;
  /* position: absolute; */
}

.email-ret a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.email-ret p{
  text-align:left;
  font-size: 12px;
}
.email-ret a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}

.school-fee{
  background-image: url('getmail.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
	margin-top: -28%;
  float: left;
  /* position: absolute; */
}

.school-fee a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.school-fee p{
  text-align:left;
  font-size: 12px;
}
.school-fee a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}

.check-result{
  background-image: url('result.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
	margin-top: 2%;
  float: left;
  /* position: absolute; */
}

.check-result a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.check-result p{
  text-align:left;
  font-size: 12px;
}
.check-result a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}


.forum{
  background-image: url('forum.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
	margin-top:-28%;
  float: left;
  /* position: absolute; */
}

.forum a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.forum p{
  text-align:left;
  font-size: 12px;
}
.forum a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}

.lecturenote{
  background-image: url('coursenotes.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
	margin-top:-28%;
  float: left;
  /* position: absolute; */
}

.lecturenote a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.lecturenote p{
  text-align:left;
  font-size: 12px;
}
.lecturenote a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}

.get-mail{
  background-image: url('mails.png');
  background-repeat: no-repeat;
  width: 260px;
  height: 200px;
	margin-top:-28%;
  float: left;
  /* position: absolute; */
}

.get-mail a{
  position: relative;
  text-align: left;
  display: inline-grid;
  width: 260px;
  height: 40px;
  margin-top: 20%;
  color:#304412 ;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.get-mail p{
  text-align:left;
  font-size: 12px;
}
.get-mail a:hover{
  width: 240px;
  height: 50px;
  color:#fff;
  background-color: rgba(0,0,0,0.85);
}



.left{
  float: left;
	width: 25%;
	margin-left: 8.5%;

}
.center{
  float: left;
	width: 25%;
	margin-left: 2.5%;
}
